body{
    background-image: url(https://media.istockphoto.com/photos/old-books-on-green-background-picture-id1175313177?k=20&m=1175313177&s=170667a&w=0&h=7ZmDxQ8re2sFHFLXS3IUiQOlxBM7WQColOo85F0IqLc=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


li{
    box-shadow: 5px 3px 10px red;
}
#table-body{
    background-color: pink;
    color: black;
    font: bold;
    box-shadow: 3px 3px 8px red;
}
label{
      color: #ffff00;
     font: bold;
     font-size: larger;
     font-family: 'Courier New', Courier, monospace;

}
#type{
    color: #ffff00;
     font: bold;
}
button{
  box-shadow: 3px 3px 10px orange;
}
thead{
    color: yellow;
}


